{% extends "layout.html" %}

{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3 bg-dark">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Jumbotron personalizado</h1>
        <p class="col-md-8 fs-4">Usando una serie de utilidades, puedes crear este jumbotron, al igual que el de las
            versiones anteriores de Bootstrap. Echa un vistazo a los ejemplos a continuación para saber cómo puedes
            remezclarlo y rediseñarlo a tu gusto.</p>
        <button class="btn btn-primary btn-lg" type="button">Botón de ejemplo</button>
    </div>
</div>
{% endblock %}